[SddmGreeterTheme]
Name=The Index sddm
Description=The Index login screen
Author=Rifqi2007c
Copyright=Copyright (C) 2026 NeekoKun
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/Rifqi2007c/the-index-theme
Screenshot=Previews/default.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=the-index-theme
Theme-API=2.11
QtVersion=6
